 @{
    ViewBag.Title = "Addition Page";
}

<h1>Welcome to Addition Page</h1>

<form asp-controller="Home" asp-action="add" method="post">

    <span>Enter First Number : </span> <input id="Text1" type="text" name="txtFirstNum" /> <br /><br />
    <span>Enter Second Number : </span> <input id="Text2" type="text" name="txtSecondNum" /> <br /><br />
    <input id="Submit1" type="submit" value="Add" />
</form>

<h2>@ViewBag.Result</h2>

@if(ViewBag.QueryResult != null){
    foreach(string s in ViewBag.QueryResult){
   <h2>@s</h2> 
    }
}